In [7]:
from __future__ import print_function
import os
import pandas as pd
import numpy as np
%matplotlib inline
from matplotlib import pyplot as plt
import seaborn as sns

In [4]:
os.chdir('/home/thomse/Desktop/safaricom_stock_time_series/')

In [9]:
data = pd.read_csv('SCOM Historical Data.csv')

In [12]:
print("Column names:", data.columns)

Column names: Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %'], dtype='object')

In [13]:
print("Number of rowsand comlumns:", data.shape)

Number of rowsand comlumns: (1805, 7)

In [16]:
num_days = data['Date'].unique().shape[0]
print('Number of days:', num_days)

Number of days: 1805

In [17]:
data.describe()

             Price         Open         High          Low
count  1805.000000  1805.000000  1805.000000  1805.000000
mean     17.101114    17.117729    17.365734    16.908227
std       7.749989     7.809250     7.886154     7.682402
min       3.400000     0.000000     3.450000     3.350000
25%      12.150000    12.150000    12.300000    12.000000
50%      16.450000    16.450000    16.700000    16.200000
75%      23.750000    24.000000    24.250000    23.550000
max      32.750000    32.750000    33.500000    32.500000